<table>
	<caption>お問い合わせ情報</caption>
	<tr>
		<th style="width:25%;"><span class="required">[必須]</span>お名前</th>
		<td class="(!--# syscode isValidateEx name #--)">
			<!--# form text name 50 256  (!--# ecode ime on #--) #-->
			<!--# syscode ValidateEx #-->
		</td>
	</tr>
	<tr>
		<th style="width:25%;"><span class="required">[必須]</span>メールアドレス</th>
		<td class="(!--# syscode isValidateEx mail #--)">
			<!--# form text mail 50 256  (!--# ecode ime off #--) #-->
			<!--# syscode ValidateEx #-->
		</td>
	</tr>
	<tr>
		<th style="width:25%;"><span class="required">[必須]</span>お問い合わせ内容</th>
		<td class="(!--# syscode isValidateEx main #--)">
			<!--# form textarea main 50 8  (!--# ecode ime on #--) #-->
			<!--# syscode ValidateEx #-->
		</td>
	</tr>
</table>
