@charset "shift_jis";

/* ================================================================================ */
/*                                                                                  */
/*      スタイル初期化                                                              */
/*                                                                                  */
/* ================================================================================ */

body,div,dl,dt,dd,ul,li,ol,li,h1,h2,h3,h4,h5,form,p,table,th,td,address{
	margin:0;
	padding:0;
	font-family:'ＭＳ Ｐゴシック', sans-serif;
}

html{
	height:100%;
}

body{
	height:100%;
	line-height:1;
	color:#444;
	font-size:12px;
}

a img,img{
	border:0;
}

ul,ol,li{
	list-style:none;
}

table{
	border-collapse:collapse; 
	border-spacing:0;
}


a{
	text-decoration:none;
	color:#006b93;
}

a:hover{
	color:#3da4ca;
}

address{
	font-style:normal;
}

input[type="radio"],
input[type="checkbox"]{
	position:relative;
	top:2px;
}


/* ================================================================================ */
/*                                                                                  */
/*      clearfix                                                                    */
/*                                                                                  */
/* ================================================================================ */

.clearfix{
	/zoom:1;
}

.clearfix:after{
	content:'';
	display:block;
	clear:both;
	height:0;
}


/* ================================================================================ */
/*                                                                                  */
/*      汎用スタイル                                                                */
/*                                                                                  */
/* ================================================================================ */

#wrapper{
	min-height:100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

#header .header_body,
#menu .menu_body,
#contents .contents_body,
#footer .footer_body{
	width:980px;
	margin:0 auto;
}

.center{
	text-align:center !important;
}

.left{
	text-align:left !important;
}

.right{
	text-align:right !important;
}

.common{
	margin-bottom:15px;
	line-height:1.5;
}





/* ================================================================================ */
/*                                                                                  */
/*      ヘッダーデザイン                                                            */
/*                                                                                  */
/* ================================================================================ */

#header{
	padding:18px 0;
	border-bottom:1px solid #ae9f8b;

	/*gradient styles*/
	background:linear-gradient(top,#49331a,#604627 100%);
		background:-moz-linear-gradient(top,#49331a,#604627	100%);
		background:-o-linear-gradient(top,#49331a,#604627 100%);
		background:-webkit-linear-gradient(top,#49331a,#604627);
		-pie-background:linear-gradient(center top ,#49331a,#604627);

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#header .header_body{
}

#header h1{
	width:240px;
	float:left;
}

#header h1 a{
	background:url(../../img/admin/logo.gif) no-repeat left center;
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	width:240px;
	height:35px;
	float:left;
}

#header h1 a:hover{
	opacity:0.9;
	filter:alpha(opacity=90);
}

#header .header_menu{
	float:right;
	padding-top:6px;
}

#header .header_menu .hello{
	float:left;
	padding:6px 6px 0 0;
	color:#FFF;
}

#header .header_menu ul{
	float:left;
}

#header .header_menu ul li{
	float:left;
	margin-left:5px;
	background-color: #FFF;

	/*gradient styles*/
	background:linear-gradient(top,#FFF,#dfdfdf 100%);
		background:-moz-linear-gradient(top,#FFF,#dfdfdf 100%);
		background:-o-linear-gradient(top,#FFF,#dfdfdf 100%);
		background:-webkit-linear-gradient(top,#FFF,#dfdfdf);
		-pie-background:linear-gradient(center top ,#FFF,#dfdfdf);
		

	/*border styles*/
	border:1px solid #d9d5d1;
	border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;

	/*box-shadow styles*/
	box-shadow:1px 1px 2px #47321a;
		-moz-box-shadow:1px 1px 2px #47321a;
		-webkit-box-shadow:1px 1px 2px #47321a;

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#header .header_menu ul li a{
	font-weight:bold;
	color:#6b4d23;
	padding:7px 13px 5px 28px;
	display:block;
}

#header .header_menu ul li.user_regist a,
#header .header_menu ul li.account a{
	background:url(../../img/admin/head_account.gif) no-repeat 12px center;
}

#header .header_menu ul li.login a,
#header .header_menu ul li.logout a{
	background:url(../../img/admin/head_login.gif) no-repeat 12px center;
}

#header .header_menu ul li:hover{
	opacity:0.9;
	filter:alpha(opacity=70);
}



/*----------------------------------------------------------------【メニュー】*/
#menu{
	border-bottom:1px solid #eed06f;
	z-index:9999;

	/*gradient styles*/
	background:linear-gradient(top,#fdeeb2,#fce38e 100%);
		background:-moz-linear-gradient(top,#fdeeb2,#fce38e	100%);
		background:-o-linear-gradient(top,#fdeeb2,#fce38e 100%);
		background:-webkit-linear-gradient(top,#fdeeb2,#fce38e);
		-pie-background:linear-gradient(center top ,#fdeeb2,#fce38e);

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#menu .menu_body ul{
	position:relative;
	line-height:1;
}

#menu .menu_body ul li{
	margin-right:5px;
	float:left;
	position:relative;
}

#menu .menu_body ul li a{
	display:block;
	color:#6B4D23;
	text-decoration:none;
	font-weight:bold;
	font-size:15px;
	padding:11px 20px;
}

#menu .menu_body ul li a:hover{
	opacity:0.7;
	filter:alpha(opacity=70);
}


#menu .menu_body ul li span:hover{
	opacity:0.7;
	filter:alpha(opacity=70);
}

#menu .menu_body ul li span {
	display:block;
	color:#6B4D23;
	text-decoration:none;
	font-weight:bold;
	font-size:15px;
	padding:11px 25px 11px 20px;
	background:url(../../img/admin/down.gif) no-repeat right center;
}

#menu .menu_body ul ul{
	display:none;
	position:absolute;
	top:38px;
	left:0;
	width:182px;
}

* html #menu .menu_body ul ul{
	line-height:0;
}

#menu .menu_body ul ul li{
	float:none;
}

#menu .menu_body ul ul a { 
	display:block;
	width:135px;
	padding:11px 25px 11px 20px;
	border-bottom: 1px solid #FFF;
	opacity:0.9;
	filter:alpha(opacity=95);
	zoom:1;
	line-height:1;
	font-size:12px;
	font-weight:normal;
	border:1px solid #eed06f;
	border-top:none;

	/*gradient styles*/
	background:linear-gradient(top,#fdeeb2,#fce38e 100%);
		background:-moz-linear-gradient(top,#fdeeb2,#fce38e	100%);
		background:-o-linear-gradient(top,#fdeeb2,#fce38e 100%);
		background:-webkit-linear-gradient(top,#fdeeb2,#fce38e);
		-pie-background:linear-gradient(center top ,#fdeeb2,#fce38e);

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#menu .menu_body ul ul a:hover{ 
	/*gradient styles*/
	background:linear-gradient(top,#fae69b,#fbd667 100%);
		background:-moz-linear-gradient(top,#fae69b,#fbd667	100%);
		background:-o-linear-gradient(top,#fae69b,#fbd667 100%);
		background:-webkit-linear-gradient(top,#fae69b,#fbd667);
		-pie-background:linear-gradient(center top ,#fae69b,#fbd667);
	opacity:1;
	filter:alpha(opacity=100);
}



/*   active   */
#menu .menu_body ul li.active{
	background-color:#FFF;
	bottom:-5px;
	
	/*border styles*/
	border-radius:7px;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;

	/*box-shadow styles*/
	box-shadow:0px -2px 1px #ebd479;
		-moz-box-shadow:0px -2px 1px #ebd479;
		-webkit-box-shadow:0px -2px 1px #ebd479;

	/*gradient styles*/
	background:linear-gradient(top,#FFF,#f8f6f2 100%);
		background:-moz-linear-gradient(top,#FFF,#f8f6f2 100%);
		background:-o-linear-gradient(top,#FFF,#f8f6f2 100%);
		background:-webkit-linear-gradient(top,#FFF,#f8f6f2);
		-pie-background:linear-gradient(center top ,#FFF,#f8f6f2);

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#menu .menu_body ul li.active span,
#menu .menu_body ul li.active a{
	color:#222;
}

#menu .menu_body ul li.active ul{
	top:33px;
}

#menu .menu_body ul li.active ul a{
	border-color:#EEE;
	bottom:0;
	/*border styles*/
	border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;

	/*gradient styles*/
	background:linear-gradient(top,#FFF,#f8f6f2 100%);
		background:-moz-linear-gradient(top,#FFF,#f8f6f2 100%);
		background:-o-linear-gradient(top,#FFF,#f8f6f2 100%);
		background:-webkit-linear-gradient(top,#FFF,#f8f6f2);
		-pie-background:linear-gradient(center top ,#FFF,#f8f6f2);

	/*box-shadow styles*/
	box-shadow:0 0 0;
		-moz-box-shadow:0 0 0;
		-webkit-box-shadow:0 0 0;
}

#menu .menu_body ul li.active ul a:hover{ 
	/*gradient styles*/
	background-image:none;
	background:linear-gradient(top,#FCFBF9,#F4F1E9 100%);
		background:-moz-linear-gradient(top,#FCFBF9,#F4F1E9	100%);
		background:-o-linear-gradient(top,#FCFBF9,#F4F1E9 100%);
		background:-webkit-linear-gradient(top,#FCFBF9,#F4F1E9);
		-pie-background:linear-gradient(center top ,#FCFBF9,#F4F1E9);
	opacity:1;
	filter:alpha(opacity=100);
}




/* ================================================================================ */
/*                                                                                  */
/*      カラム構成                                                                  */
/*                                                                                  */
/* ================================================================================ */

#contents{
	padding:15px 0 90px;
	/*gradient styles*/
	background:linear-gradient(top,#F8F6F2,#FFF 15%);
		background:-moz-linear-gradient(top,#F8F6F2,#FFF 15%);
		background:-o-linear-gradient(top,#F8F6F2,#FFF 15%);
		background:-webkit-linear-gradient(top,#F8F6F2,#FFF 15%);
		-pie-background:linear-gradient(center top ,#F8F6F2,#FFF 15%);
		
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#contents .contents_l{
	margin-bottom:20px;
}
	
#contents .contents_body{
	margin-bottom:20px;
}

#contents .contents_s{
	width:180px;
	float:left;
}
	
#contents .contents_m{
	width:780px;
	float:right;
	margin-left:15px;
}
	


/* ================================================================================ */
/*                                                                                  */
/*      見出し                                                                      */
/*                                                                                  */
/* ================================================================================ */


h2{
	font-size:18px;
	padding-bottom:5px;
	background:no-repeat left center;
	margin:10px 0;
	line-height:1.3;
	float:left;

	/*box-shadow styles*/
	text-shadow:2px 1px 0px #FFF;
		-moz-text-shadow:2px 1px 0px #FFF;
		-webkit-text-shadow:2px 1px 0px #FFF;
}

h2 span{
	font-weight:normal;
	font-size:13px;
	padding-left:10px;
	vertical-align:text-top;
}


h3{
	font-size:14px;
	line-height:1.1;
	margin-bottom:10px;
	padding-top:8px;
}

h3 span{
	font-size:12px;
	font-weight:normal;
	padding-left:5px;
}

h4{
	font-size:14px;
	padding:5px;
	margin:15px 0 10px;
	color:#555;
}



/* ================================================================================ */
/*                                                                                  */
/*      メインコンテンツ                                                            */
/*                                                                                  */
/* ================================================================================ */

/*----------------------------------------------------------------【トップページ】*/
#contents .more{
	margin:5px 0;
	text-align:right;
}

#contents .more a{
	padding:6px 15px 4px;
	text-align:center;
	display:inline-block;
	background-color:#FFF;
	font-size:11px;

	/*gradient styles*/
	background:linear-gradient(top,#FFF,#EEE 100%);
		background:-moz-linear-gradient(top,#FFF,#EEE 100%);
		background:-o-linear-gradient(top,#FFF,#EEE 100%);
		background:-webkit-linear-gradient(top,#FFF,#EEE);
		-pie-background:linear-gradient(center top ,#FFF,#EEE);
		
	/*border styles*/
	border:1px solid #DDD;
	border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}


/*   インフォメーション   */
#contents .contents_m .information{
	margin-bottom:15px;
	font-size:14px;
	color:#000;
	border:1px solid #e0deda;

	background:#F4F1E9;
	
	/*border styles*/
	border:1px solid #e1dbca;
	border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*box-shadow styles*/
	box-shadow:0 0 1px 1px #FFF inset;
		-moz-box-shadow:0 0 1px 1px #FFF inset;
		-webkit-box-shadow:0 0 1px 1px #FFF inset;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#contents .contents_m .information p{
	background:url(../../img/admin/icon_information.png) no-repeat 10px center;
	padding:17px 10px 16px 40px;
}

#contents .contents_m .information a{
	font-weight:bold;
	padding:0 4px;
}



/*   トラッキングURL   */
#contents .contents_m .track{
	margin-bottom:15px;
	font-size:14px;
	color:#000;
	border:1px solid #e0deda;

	background:#F4F1E9;
	
	/*border styles*/
	border:1px solid #e1dbca;
	border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*box-shadow styles*/
	box-shadow:0 0 1px 1px #FFF inset;
		-moz-box-shadow:0 0 1px 1px #FFF inset;
		-webkit-box-shadow:0 0 1px 1px #FFF inset;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#contents .contents_m .track p{
	padding:17px 10px 16px 40px;
}


#contents .contents_m .track input{
	font-weight:normal;
	padding:5px;
	width:550px;
	background-color:#FFF;
	margin-left:5px;
	
	/*border styles*/
	border:1px solid #CCC;
	border-radius:3px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#contents .contents_m .track .notes{
	display:block;
	padding:8px 0 5px;
	font-size:12px;
	color:#CA2B00;
}


/*   システムの状況   */
#contents .contents_m .system_state{
	margin-right:-15px;
}

#contents .contents_m .system_state .system_table{
	float:left;
	width:382px;
	margin-right:15px;
	padding-bottom:10px;
}
#contents .contents_m .system_state .system_table table{
	width:100%;
	line-height:1.5;
}

#contents .contents_m .system_state .system_table table caption{
	color:#FFF;
	text-align:left;
	font-weight:bold;
	background-color:#8F7F65;
	padding:5px 15px 3px;

	/*gradient styles*/
	background:linear-gradient(top,#A79477,#887960 100%);
		background:-moz-linear-gradient(top,#A79477,#887960 100%);
		background:-o-linear-gradient(top,#A79477,#887960 100%);
		background:-webkit-linear-gradient(top,#A79477,#887960);

	/*border styles*/
	border:1px solid #e1dbca;
	border-top-left-radius:7px;
		-moz-border-top-left-radius:7px;
		-webkit-border-top-left-radius:7px;
	border-top-right-radius:7px;
		-moz-border-top-right-radius:7px;
		-webkit-border-top-right-radius:7px;
}

#contents .contents_m .system_state .system_table table th{
	text-align:left;
	color:#666;
}

#contents .contents_m .system_state .system_table table td{
	text-align:right;
}


#contents .contents_m .system_state .system_table table th,
#contents .contents_m .system_state .system_table table td{
	padding:7px 15px;
	background:#FCFCFA;
	border:2px solid #FFF;
}

#contents .contents_m .system_state .system_table table tr.odd th,
#contents .contents_m .system_state .system_table table tr.odd td{
	background:#f7f6f0;
}


/*   サイドコンテンツ   */

#contents .contents_s .side_box{
	padding:8px 10px;
	margin-bottom:15px;
	/*gradient styles*/
	background:linear-gradient(top,#FFF,#f9f8f3 100%);
		background:-moz-linear-gradient(top,#FFF,#f9f8f3 100%);
		background:-o-linear-gradient(top,#FFF,#f9f8f3 100%);
		background:-webkit-linear-gradient(top,#FFF,#f9f8f3);
		-pie-background:linear-gradient(center top ,#FFF,#f9f8f3);

	/*box-shadow styles*/
	box-shadow:inset 1px 1px 0 0 #FFF;
		-moz-box-shadow:inset 1px 1px 0 0 #FFF;
		-webkit-box-shadow:inset 1px 1px 0 0 #FFF;

	/*border styles*/
	border: 1px solid #DDD;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

#contents .contents_s .side_box h2{
	padding:3px 0 1px 20px;
	font-size:14px;
	margin:0 0 5px;
	float:none;
}

#contents .contents_s .side_box ul li{
	margin-bottom:4px;
	line-height:1.3;
}

#contents .contents_s .side_box ul li span{
	color:#666;
	padding:0 2px;
	display:block;
}

#contents .contents_s .side_box ul li strong{
	padding:0 2px;
}


/*   管理情報   */
#contents .contents_s .manager h2{
	background-image:url(../../img/admin/icon_manager.png);
}


/*   最近追加した広告   */
#contents .contents_s .new_advertise h2{
	background-image:url(../../img/admin/icon_new.png);
}

#contents .contents_s .new_advertise{
}

#contents .contents_s .new_advertise div{
	margin:0 auto;
}

#contents .contents_s .new_advertise .image{
	border:1px solid #DDD;
	padding:5px;
	margin:5px auto;
	position:relative;
	height:84px;
	width:112px;
	background-color:#FFF;
}

#contents .contents_s .new_advertise .image .point{
	background-color:#222;
	color:#FFF;
	font-size:11px;
	text-align:center;
	padding:3px 0 2px;
	width:45px;
	position:absolute; 
	top:0px;
	left:-1px;
	z-index:9999;
}

#contents .contents_s .new_advertise .image .point span{
	font-weight:bold;
	padding-right:1px;
}

#contents .contents_s .new_advertise .title{
	line-height:1.3;
	margin-bottom:3px;
}

#contents .contents_s .new_advertise .title span{
	font-size:10px;
	display:block;
	color:#888;
}

#contents .contents_s .new_advertise .text{
	line-height:1.3;
	margin-bottom:3px;
	font-size:11px;
	color:#555;
}

/*----------------------------------------------------------------【.h2内メニュー】*/
.h2{
	margin-bottom:10px;
}

.h2 h2{
	margin:5px 0 0 0;
}

.h2 p{
	float:right;
	margin-top:15px;
	line-height:1.1;
}

.h2 p.plus a{
	background:url(../../img/admin/plus.gif) no-repeat 0 center;
	padding-left:16px;
	font-weight:bold;
}

.h2 p.back a{
	background:url(../../img/admin/back.gif) no-repeat 0 center;
	padding-left:16px;
	font-weight:bold;
}

/*----------------------------------------------------------------【form_table：入力フォーム】*/
.form_table{
}


.form_table table{
	width:100%;
	line-height:1.5;
	margin-bottom:15px;
}

.form_table table caption{
	color:#FFF;
	text-align:left;
	font-weight:bold;
	background-color:#8F7F65;
	padding:5px 15px;

	/*border styles*/
	border:1px solid #e1dbca;
	border-top-left-radius:7px;
		-moz-border-top-left-radius:7px;
		-webkit-border-top-left-radius:7px;
	border-top-right-radius:7px;
		-moz-border-top-right-radius:7px;
		-webkit-border-top-right-radius:7px;
	
	/*gradient styles*/
	background:linear-gradient(top,#A79477,#887960 100%);
		background:-moz-linear-gradient(top,#A79477,#887960 100%);
		background:-o-linear-gradient(top,#A79477,#887960 100%);
		background:-webkit-linear-gradient(top,#A79477,#887960);
}

.form_table table th{
	padding:5px 10px 5px 15px;
	background:#FCFCFA;
	border:2px solid #FFF;
	text-align:left;
	color:#666;
}

.form_table table td{
	padding:5px 10px;
	background:#FCFCFA;
	border:2px solid #FFF;
	line-height:1.7;
}

.form_table table tr.odd th,
.form_table table tr.odd td{
	background:#f7f6f0;
}




.form_table table th span.required{
	float:right;
	background:url(../../img/admin/hissu.gif) no-repeat top center;
	overflow:hidden;
	text-indent:-9999px;
	width:27px;
	height:15px;
	text-align:left;
	margin-left:10px;
}

.form_table table td span.notes{
	display:block;
	padding-top:5px;
	color:#666;
}

.form_table table td label{
	padding-right:3px;
}

.form_table table td select,
.form_table table td input[type="text"],
.form_table table td input[type="password"]{
	padding:3px;
	margin-right:2px;
	background-color:#FFF;
	
	/*border styles*/
	border:1px solid #CCC;
	border-radius:3px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.form_table table td textarea{
	padding:5px;
	font-size:12px;
	width:750px;
	background-color:#FFF;
	
	/*border styles*/
	border:1px solid #CCC;
    border-radius:3px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.form_table table td div{
	margin:5px 0;
}

.form_table table td dl dt{
	float:left;
	width:60px;
	text-align:right;
	padding:3px 5px;
	clear:both;
}

.form_table table td dl dd{
	padding:2px;
}

/*エラー*/
.form_table table td span.error{
	background:url(../../img/admin/error_back.gif) no-repeat 10px 9px;
	border:1px dotted #e58b72;
	color:#CA2B00;
	display:block;
	margin-top:7px;
	padding:8px 5px 7px 30px;
}

.form_table table td.validate input,
.form_table table td.validate select{
	background-color:#fbefec;
	border:1px solid #da7c63;
}





/*----------------------------------------------------------------【check_table；確認フォーム】*/
.check_table{
}

.check_table table{
	width:100%;
	line-height:1.5;
	margin-bottom:15px;
}

.check_table table caption{
	color:#FFF;
	text-align:left;
	font-weight:bold;
	background-color:#8F7F65;
	padding:5px 15px;

	/*border styles*/
	border:1px solid #e1dbca;
	border-top-left-radius:7px;
		-moz-border-top-left-radius:7px;
		-webkit-border-top-left-radius:7px;
	border-top-right-radius:7px;
		-moz-border-top-right-radius:7px;
		-webkit-border-top-right-radius:7px;
	
	/*gradient styles*/
	background:linear-gradient(top,#A79477,#887960 100%);
		background:-moz-linear-gradient(top,#A79477,#887960 100%);
		background:-o-linear-gradient(top,#A79477,#887960 100%);
		background:-webkit-linear-gradient(top,#A79477,#887960);
}

.check_table table th{
	padding:5px 15px;
	background:#FCFCFA;
	border:2px solid #FFF;
	text-align:left;
	color:#666;
}

.check_table table td{
	padding:5px 10px;
	background:#FCFCFA;
	border:2px solid #FFF;
}

.check_table table tr.odd th,
.check_table table tr.odd td{
	background:#f7f6f0;
}

.check_table table td div{
	margin:5px 0;
}



/*----------------------------------------------------------------【info_table：情報テーブル】*/
.info_table{
}

.info_table table{
	width:100%;
	margin-bottom:10px;
	line-height:1.5;
}

.info_table table caption{
	color:#FFF;
	text-align:left;
	font-weight:bold;
	background-color:#8F7F65;
	padding:5px 15px;

	/*gradient styles*/
	background:linear-gradient(top,#A79477,#887960 100%);
		background:-moz-linear-gradient(top,#A79477,#887960 100%);
		background:-o-linear-gradient(top,#A79477,#887960 100%);
		background:-webkit-linear-gradient(top,#A79477,#887960);

	/*border styles*/
	border:1px solid #e1dbca;
	border-top-left-radius:7px;
		-moz-border-top-left-radius:7px;
		-webkit-border-top-left-radius:7px;
	border-top-right-radius:7px;
		-moz-border-top-right-radius:7px;
		-webkit-border-top-right-radius:7px;
	
}

.info_table table th{
	text-align:left;
	color:#666;
}


.info_table table th,
.info_table table td{
	padding:7px 15px;
	background:#FCFCFA;
	border:2px solid #FFF;
}


.info_table table tr.odd th,
.info_table table tr.odd td{
	background:#f7f6f0;
}

.info_table table td label{
	padding-right:3px;
}

.info_table table td div{
	margin-top:10px;
}

.info_table table td input[type="submit"]{
	cursor:pointer;
	color:#963800;
	padding:4px 20px 3px;
	/padding:4px 10px 3px;
	margin-left:10px;
	text-decoration:none;
	text-align:center;
	background-color:#ffdfb6;
	
	/*gradient styles*/
	background-image:linear-gradient(center top ,#ffdfb6,#ffd8a0);
		background-image:-webkit-gradient(linear,center top,center bottom,from(#ffdfb6),to(#ffd8a0));
		background-image:-moz-linear-gradient(center top ,#ffdfb6,#ffd8a0);
		-pie-background:linear-gradient(center top ,#ffdfb6,#ffd8a0);
	
	/*border styles*/
	border-color:#f9bb44 #ffa749 #f5ad67;
	border-style:solid;
	border-width:1px;
	border-radius:12px;
		-moz-border-radius:12px;
		-webkit-border-radius:12px;
	box-shadow:0 1px 0 0 white inset;
		-moz-box-shadow:0 1px 0 0 white inset;
		-webkit-box-shadow:0 1px 0 0 white inset;
	
	/*box-shadow styles*/
	text-shadow:0 1px 1px #FFFFFF;
		-moz-text-shadow:0 1px 1px #FFFFFF;
		-webkit-text-shadow:0 1px 1px #FFFFFF;
		
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.info_table table td input[type="submit"]:hover{
	opacity:0.7;
	filter:alpha(opacity=70);
	color:#963800;
}	

.info_table table td a{
	font-weight:bold;
}	




/*----------------------------------------------------------------【submit：送信ボタン】*/

.submit{
	position:relative;
	overflow:hidden;
	margin-bottom:5px;
}

.submit ul{
	position:relative;
	left:50%;
	float:left;
}

.submit ul li{
	position:relative;
	left:-50%;
	float:left;
	padding:0 2px;
}

.submit input{
	color:#6B4D23;
	display:block;
	cursor:pointer;
	font-weight:bold;
	float:left;

	padding:6px 25px;
	/padding:6px 15px;
	text-align:center;
	background-color: #FFF;
	margin:7px 0 3px auto;

	/*gradient styles*/
	background:linear-gradient(top,#FFF,#EEE 100%);
		background:-moz-linear-gradient(top,#FFF,#EEE 100%);
		background:-o-linear-gradient(top,#FFF,#EEE 100%);
		background:-webkit-linear-gradient(top,#FFF,#EEE);
		-pie-background:linear-gradient(center top ,#FFF,#EEE);
		
	/*border styles*/
	border:1px solid #CCC;
	border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.submit input:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}


/*----------------------------------------------------------------【message：完了メッセージ】*/

.message{
	padding:40px 0;
	margin-bottom:15px;
	color:#000;

	background:#eaf5ec;
	
	/*border styles*/
	border:1px solid #d1e9d5;
	border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*box-shadow styles*/
	box-shadow:0 0 1px 1px #FFF inset;
		-moz-box-shadow:0 0 1px 1px #FFF inset;
		-webkit-box-shadow:0 0 1px 1px #FFF inset;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.message p{
	font-size:14px;
	margin-bottom:15px;
	padding:5px 80px 5px 120px;
	line-height:1.6;
	background:url(../../img/admin/message_ok.png) no-repeat 70px center;
}

.message ul{
	padding:0 80px 0 120px;
}

.message ul li{
	margin-bottom:5px;
	background:url(../../img/admin/list_icon.gif) no-repeat left 3px;
	padding-left:10px;
}


/*----------------------------------------------------------------【error_message：エラーメッセージ】*/

.error_message{
	padding:30px 0;
	margin-bottom:15px;
	color:#000;

	background:#f7eef0;
	
	/*border styles*/
	border:1px solid #f0d3d7;
	border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*box-shadow styles*/
	box-shadow:0 0 1px 1px #FFF inset;
		-moz-box-shadow:0 0 1px 1px #FFF inset;
		-webkit-box-shadow:0 0 1px 1px #FFF inset;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.error_message p{
	font-size:14px;
	margin-bottom:15px;
	padding:5px 80px 5px 120px;
	line-height:1.6;
	background:url(../../img/admin/message_error.png) no-repeat 70px center;
}

.error_message ul{
	padding:0 80px 0 120px;
}

.error_message li{
	margin-bottom:5px;
	background:url(../../img/admin/list_icon.gif) no-repeat left 3px;
	padding-left:10px;
}




/*----------------------------------------------------------------【search_form：検索フォーム】*/
.search_form{
	padding:15px 20px;
	margin-bottom:15px;
	background:#F4F1E9;
	text-shadow:0 1px 0 #FFFFFF;
	
	/*border styles*/
	border:1px solid #e1dbca;
	border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*box-shadow styles*/
	box-shadow:0 0 1px 1px #FFF inset;
		-moz-box-shadow:0 0 1px 1px #FFF inset;
		-webkit-box-shadow:0 0 1px 1px #FFF inset;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}
	
.search_form table{
	margin:0 auto 5px;
}

.search_form table td,
.search_form table th{
	padding:3px;
}

.search_form table th{
	text-align:right;
}

.search_form table td{
	vertical-align:text-top;
}

.search_form td input[type="text"]{
	padding:3px;
	background-color:#FFF;
	
	/*border styles*/
	border:1px solid #CCC;
	border-radius:3px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.search_form td select{
	padding:2px;
	background-color:#FFF;
	
	/*border styles*/
	border:1px solid #CCC;
	border-radius:3px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.search_form td input[type="checkbox"]{
	margin:0px 3px 2px 0;
}

.search_form td label{
	margin-right:10px;
}

.search_form .button{
	text-align:center;
}

.search_form .button input{
	padding:4px 20px;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	/*gradient styles*/
	background:linear-gradient(top,#98825e,#655437 100%);
		background:-moz-linear-gradient(top,#98825e,#655437 100%);
		background:-o-linear-gradient(top,#98825e,#655437 100%);
		background:-webkit-linear-gradient(top,#98825e,#655437);
		-pie-background:linear-gradient(center top ,#98825e,#655437);
		

	/*border styles*/
	border:none;
	border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.search_form .button input:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}



/*----------------------------------------------------------------【state_form：ステイタス変更フォーム】*/
.state_form{
	padding:15px 20px;
	margin-bottom:15px;
	background:#F4F1E9;
	text-shadow:0 1px 0 #FFFFFF;
	
	/*border styles*/
	border:1px solid #e1dbca;
	border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	
	/*box-shadow styles*/
	box-shadow:0 0 1px 1px #FFF inset;
		-moz-box-shadow:0 0 1px 1px #FFF inset;
		-webkit-box-shadow:0 0 1px 1px #FFF inset;
	
	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}
	
.state_form dl{
	margin-right:5px;
}

.state_form dl dt{
	font-weight:bold;
}

.state_form dl,
.state_form dl dt,
.state_form dl dd,
.state_form p{
	display:inline;
}
	
.state_form dl dd label{
	padding-right:5px;
}

.state_form .button{
	text-align:center;
}

.state_form .button input{
	padding:4px 20px 5px;
	/padding:6px 5px 2px 10px;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	/*gradient styles*/
	background:linear-gradient(top,#98825e,#655437 100%);
		background:-moz-linear-gradient(top,#98825e,#655437 100%);
		background:-o-linear-gradient(top,#98825e,#655437 100%);
		background:-webkit-linear-gradient(top,#98825e,#655437);
		-pie-background:linear-gradient(center top ,#98825e,#655437);
		

	/*border styles*/
	border:none;
	border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);
}

.state_form .button input:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}

.state_form ul{
	float:right;
}

.state_form ul li{
	float:left;
}

.state_form ul li a{
	padding:5px 5px 5px 25px;
	display:block;
	font-size:13px;
	margin-left:5px;
	font-weight:bold;
}

.state_form ul li .edit{
	background:url(../../img/admin/icon_edit.gif) no-repeat 5px 5px;
}

.state_form ul li .delete{
	background:url(../../img/admin/icon_delete.gif) no-repeat 5px 5px;
}



/*----------------------------------------------------------------【list_table：一覧テーブル】*/
.list_table{
}

.list_table table{
	width:100%;
	margin-bottom:15px;
	line-height:1.5;
}

.list_table table th{
	background-color:#8F7F65;
	padding:5px 10px 3px;
	border:1px solid #FFF;
	color:#FFF;

	/*gradient styles*/
	background:linear-gradient(top,#A79477,#887960 100%);
		background:-moz-linear-gradient(top,#A79477,#887960 100%);
		background:-o-linear-gradient(top,#A79477,#887960 100%);
		background:-webkit-linear-gradient(top,#A79477,#887960);
		-pie-background:linear-gradient(center top ,#A79477,#887960);

	/*PIE*/
	position:relative;
	behavior:url(common/css/PIE.htc);

}

.list_table table th a{
	color:#FFF;
	background:url(../../img/admin/sort.gif) no-repeat right 1px;
	padding-right:10px;
}

.list_table table th a:hover{
	color:#f4efe3;
}

.list_table table td{
	padding:7px 10px;
	background:#f7f6f0;
	border:2px solid #FFF;
	text-align:center;
}

.list_table table tr.odd td{
	background:#FCFCFA;
}

.list_table table td {
    -moz-transition: background-color 0.2s linear 0s;
}
.list_table table tr:hover td {
    background: none repeat scroll 0 0 #f0edde;
}

.list_table table.link tr:hover td {
    cursor: pointer;
}

.list_table table td .edit{
	background:url(../../img/admin/icon_edit.gif) no-repeat 5px 2px;
	padding-left:20px;
	text-align:center;
	display:block;
}

.list_table table td .delete{
	background:url(../../img/admin/icon_delete.gif) no-repeat 5px 2px;
	padding-left:20px;
	text-align:center;
	display:block;
}



/*----------------------------------------------------------------【pager：ページャー】*/
.pager{
	padding-bottom:15px;
}

.pager p{
	float:left;
	width:200px;
}

.pager p strong{
	padding:0 3px;
}

.pager ul{
	float:right;
}

.pager ul li{
	float:left;
	border-right:1px solid #BBB;
}
.pager ul li.next{
	border:none;
}

.pager ul li a{
	text-decoration:none;
	padding:0px 10px;
}

.pager ul li.active{
	font-weight:bold;
	padding:0px 10px;
}

.pager ul li.back a{
	background:url(../../img/admin/pager_back.gif) no-repeat left 3px;
	padding-left:10px;
}

.pager ul li.back a:hover{
}

.pager ul li.next a{
	background:url(../../img/admin/pager_next.gif) no-repeat right 3px;
}





/* ================================================================================ */
/*                                                                                  */
/*      フッタ                                                                      */
/*                                                                                  */
/* ================================================================================ */


#footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:93px;
	border-top: 1px solid #DDD;

	/*gradient styles*/
	background:linear-gradient(top,#f7f5ee,#f3f0e6 100%);
		background:-moz-linear-gradient(top,#f7f5ee,#f3f0e6 100%);
		background:-o-linear-gradient(top,#f7f5ee,#f3f0e6 100%);
		background:-webkit-linear-gradient(top,#f7f5ee,#f3f0e6);
		-pie-background:linear-gradient(center top ,#f7f5ee,#f3f0e6);

	/*box-shadow styles*/
	box-shadow:inset 1px 1px 0 0 #FFF;
		-moz-box-shadow:inset 1px 1px 0 0 #FFF;
		-webkit-box-shadow:inset 1px 1px 0 0 #FFF;

	/*PIE*/
	behavior:url(common/css/PIE.htc);
}

#footer .footer_body{
	padding:30px 0;
}

#footer .footer_menu{
	float:left;
	width:700px;
}

#footer .footer_menu ul{
	margin-bottom:10px;
}
	
#footer .footer_menu ul li{
	display:inline;
	border-left:1px solid #BBB;
	border-right:1px solid #BBB;
	padding:0 10px;
}
	
#footer .footer_menu ul li+li{
	border-left:0;
}

#footer .footer_menu .copy{
	font-size:11px;
	color:#7f7f7f;
}


#footer .pageup{
	float:right;
	padding-top:5px;
}

#footer .pageup a{
	background:url(../../img/admin/pageup.gif) no-repeat left top;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:112px;
	height:17px;
	margin:0 0 0 auto;
}

#footer .pageup a:hover{
	opacity:0.7;
	filter:alpha(opacity=70);
}

