<!--# readhead head #-->
<!--# readend #-->

<!--# readhead sound_source_id #-->
	<span class="error">音源が選択されていません</span>
<!--# readend #-->

<!--# readhead value_yen #-->
	<span class="error">ポイントが入力されていません</span>
<!--# readend #-->

<!--# readhead value_yen_MaxOver #-->
	<span class="error">ポイントが上限を超えています</span>
<!--# readend #-->

<!--# readhead value_yen_Minimum #-->
	<span class="error">投票ポイントは最低<!--# ecode getSiteProfile minimum_payment #-->P以上からです</span>
<!--# readend #-->

<!--# readhead foot #-->
<!--# readend #-->
