<table>
    <tr>
        <th style="width:15%;">âπåπ</th>
        <td>
            <!--# form text sound_source_name 15 128  (!--# ecode ime on #--) #-->
            <input type="hidden" name="sound_source_alias" value="sound_source_id id match comp" />
            <input type="hidden" name="sound_source_alias_PAL[]" value="sound_source_name name match like" />
        </td>

    </tr>

    <tr>
        <th style="width:15%;">ÉÜÅ[ÉUÅ[</th>
        <td>
            <!--# form text name 15 128  (!--# ecode ime on #--) #-->
            <input type="hidden" name="nUser_alias" value="owner id match comp" />
            <input type="hidden" name="nUser_alias_PAL[]" value="name name match like" />
        </td>
<!--# ifbegin false #-->
        <th style="width:15%;">èÛãµ</th>
        <td>
            <!--# form checkbox activate   1/2/4 ñ¢èàóù/èàóùíÜ/èàóùçœ #-->
            <input type="hidden" name="activate_PAL[]" value="match or" />
        </td>
<!--# endif #-->
    </tr>
</table>
