<!--# readhead head #-->
<!--# readend #-->

<!--# readhead topics #-->
	<span class="error">見出しを入力してください。</span>
<!--# readend #-->

<!--# readhead date_format #-->
	<span class="error">日付が正しくありません。</span>
<!--# readend #-->

<!--# readhead link_message #-->
	<span class="error">リンクメッセージを記入してください。</span>
<!--# readend #-->

<!--# readhead link_url #-->
	<span class="error">URIを記入してください。</span>
<!--# readend #-->

<!--# readhead link_url_URI #-->
	<span class="error">URIの形式が正しくありません。</span>
<!--# readend #-->

<!--# readhead detail_message #-->
	<span class="error">お知らせ本文を記入してください。</span>
<!--# readend #-->

<!--# readhead activate #-->
	<span class="error">公開状態を選択してください。</span>
<!--# readend #-->

<!--# readhead foot #-->
<!--# readend #-->
