<table>
<!--# ifbegin false #-->
	<tr>
		<th>Š·‹àˆê——</th>
		<td>
			<!--# form checkbox activate   1/2/4 –¢ˆ—/ˆ—’†/ˆ—Ï #-->
			<input type="hidden" name="activate_PAL[]" value="match or" />
		</td>
	</tr>
<!--# else #-->
    <tr>
        <th style="width:15%;">‰¹Œ¹</th>
        <td>
            <!--# form text sound_source_name 15 128  (!--# ecode ime on #--) #-->
            <input type="hidden" name="sound_source_alias" value="sound_source_id id match comp" />
            <input type="hidden" name="sound_source_alias_PAL[]" value="sound_source_name name match like" />
        </td>

    </tr>
<!--# endif #-->
</table>
