<!--# readhead head #-->
<!--# readend #-->

<!--# readhead site_title #-->
	<span class="error">サイトのタイトルが入力されていません</span>
<!--# readend #-->

<!--# readhead home #-->
	<span class="error">サイトのURLが入力されていません</span>
<!--# readend #-->

<!--# readhead home_URI #-->
	<span class="error">URLの書式が正しくありません。半角英数字で「http://～/」の形式で入力してください</span>
<!--# readend #-->

<!--# readhead mail_address #-->
	<span class="error">お問い合わせ/自動返信アドレスが入力されていません</span>
<!--# readend #-->

<!--# readhead mail_address_MAIL #-->
	<span class="error">メールアドレスの書式が正しくありません。半角英数字で「～@～.～」の形式で入力してください</span>
<!--# readend #-->

<!--# readhead mail_name #-->
	<span class="error">お問い合わせ/自動返信送信者名が入力されていません</span>
<!--# readend #-->

<!--# readhead point_to_yen_rate #-->
	<span class="error">換算レートが入力されていません</span>
<!--# readend #-->

<!--# readhead point_to_yen_rate_REGEX #-->
	<span class="error">換算レートは半角数字のみで入力してください</span>
<!--# readend #-->

<!--# readhead minimum_payment #-->
	<span class="error">ポイント投票のボーダーが入力されていません</span>
<!--# readend #-->

<!--# readhead minimum_payment_REGEX #-->
	<span class="error">ポイント投票のボーダーは半角数字のみで入力してください</span>
<!--# readend #-->

<!--# readhead minimum_payment_min #-->
	<span class="error">ポイント投票のボーダーは1000以上でなければいけません</span>
<!--# readend #-->

<!--# readhead def_point #-->
	<span class="error">会員登録時にプレゼントするポイントが入力されていません</span>
<!--# readend #-->

<!--# readhead def_point_REGEX #-->
	<span class="error">ポイントは半角数字のみで入力してください</span>
<!--# readend #-->

<!--# readhead click_point #-->
	<span class="error">クリックポイントが入力されていません</span>
<!--# readend #-->

<!--# readhead click_point_REGEX #-->
	<span class="error">クリックポイントは半角数字のみで入力してください</span>
<!--# readend #-->

<!--# readhead foot #-->
<!--# readend #-->
